<nz-list nzBordered nzSize="small" >
  <div class="inner-content">
    <div >
      <div class="mobile-margin">
        <nz-list nzBordered nzSize="small">
          <nz-list-header style="padding: 0; text-align: center;">
            <mark
              ><div class="title-table">Equivalencias Tienda</div>
            </mark>  
          </nz-list-header>
          <nz-table [nzShowPagination]="false" class="table-header" [nzLoading]="spiner"
            [nzData]="listTiendasInformadas" nzSize="small" nzBordered [nzScroll]="{ x: '100vw' }">
            <thead>
              <tr>
                <th nzLeft="0px" nzWidth="100px">Cadena ID
                  <app-filter-search-table-excel textPlaceholder="Buscar Cadena ID" [filterItems]="filterNameCadenaId"
                    (changeFilterItems)="handleFilterCadenaId($event)"></app-filter-search-table-excel>
                </th>
                <th nzLeft="100px" nzWidth="150px">POC Cadena
                  <app-filter-search-table-excel textPlaceholder="Buscar POC Cadena" [filterItems]="filterNamePocCadena"
                    (changeFilterItems)="handleFilterPocCadena($event)"></app-filter-search-table-excel>
                </th>
                <th nzLeft="250px" nzWidth="150px">POC Backus
                  <app-filter-search-table-excel textPlaceholder="Buscar POC Backus" [filterItems]="filterNamePocBackus"
                    (changeFilterItems)="handleFilterPocBackus($event)"></app-filter-search-table-excel>
                </th>
                <th nzWidth="320px">Nombre Cadena</th>
                <th nzWidth="320px">Nombre Backus</th>
                <th nzWidth="200px">Direccion Backus</th>
                <th nzWidth="250px">Gerencia Backus</th>
                <th nzWidth="160px">Cadena Backus</th>
                <th nzWidth="160px">Subcadena Backus</th>
                <th nzWidth="180px">Kam Backus</th>
                <th nzWidth="180px">Usuario de Creacion</th>
                <th nzWidth="180px">Usuario de Modificación</th>
                <th nzWidth="180px">Fecha Tiempo Creacion</th>
                <th nzWidth="180px">Fecha Tiempo Actualizacion</th>
                <th nzWidth="75px" nzRight>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listTiendasInformadas">
                <td nzLeft="0px" [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.cadena_id }}</td>
                <td nzLeft="100px" [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.poc_cadena }}</td>
                <td nzLeft="250px" [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.poc_backus }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.nombre_cadena }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.nombre_backus }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.direccion_backus }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.gerencia_backus }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.cadena_backus }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.subcadena_backus }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.kam_backus }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.usuario_id_creacion }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.usuario_id_modificacion }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.fecha_tiempo_creacion | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">{{ item.fecha_tiempo_modificacion | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td nzRight [class.selected]="toJSONString(item) === selectedRow" (click)="selectRow(item)">
                  <button nz-button nzType="primary" nzSize="small" (click)="editPOC(item, $event)" ><span nz-icon nzType="edit"></span></button>
                </td>
              </tr>
            </tbody>

          </nz-table>
        </nz-list>
      </div>
    </div>
    <div class="table-pagination">
      <nz-pagination [nzPageIndex]="page" [nzTotal]="total" [nzPageSize]="limit"
        (nzPageIndexChange)="pageIndexChange($event)">
      </nz-pagination>
      <span style="margin-left: 15px;">Total: {{ setFixedToNumber(total) }} registros</span>
    </div>
  </div>
</nz-list>