<nz-layout class="app-layout">
  <nz-header>
    <div class="app-header">
      <div class="">
        <nz-list nzBordered nzSize="small">
          <nz-list-header style="padding: 0;">
            <mark>Fecha</mark>
          </nz-list-header>
          <nz-list-item>
            <div class="filtros">
              <nz-date-picker [nzDisabledDate]="disabledFilterStartDate" nzFormat="yyyy-MM-dd"
                nzAllowClear="false" [(ngModel)]="filterStartDate" nzPlaceHolder="Fecha inicio"
                (nzOnOpenChange)="handleFilterStartDateOpenChange($event)"></nz-date-picker>
            </div>
            <div class="filtros">
              <nz-date-picker #filterEndDatePicker [nzDisabledDate]="disabledFilterEndDate"
                nzAllowClear="false" nzFormat="yyyy-MM-dd" [(ngModel)]="filterEndDate" nzPlaceHolder="Fecha fin">
              </nz-date-picker>
            </div>
            <div>
              <button nz-button nz-tooltip nzTooltipTitle="Aplicar Filtro" [nzLoading]="loadingDataFilterDate"
                style="font-size: 14px;" nzType="default" nzShape="circle"
                (click)="applyFilters()"><span nz-icon nzType="search"></span></button>
            </div>
          </nz-list-item>
        </nz-list>
      </div>
    </div>
  </nz-header>

  <nz-content class="mi-menu">
    <nz-layout>

      <!-- Modal de Menu Filtro -->
      <app-drawer-wrapper textPlaceholder="Buscar Filtros-Menu" [filterItems]="listConfigurationMenu"
        [typeOptionMenu]="typeOptionMenu" (changeFilterItems)="handleFilterMenu($event)"></app-drawer-wrapper>

      <div class="inner-content">
        <div class="container-information">
          <div>
            <app-select-variable (changeSelectColumns)="handleSelectVariable($event)"></app-select-variable>
          </div>

          <div
            style="width: 100%; display: flex; flex-direction: column;">
            <nz-list nzBordered nzSize="small">
              <nz-list-header style="padding: 0; text-align: center;">
                <mark class="content-title-table">
                  <p></p>
                  <div class="title-table">Tabla Autogestion</div>
                  <span *ngIf="dataAutogestionTable.length > 0" nz-icon style="font-size: 25px; cursor: pointer;"
                    nzType="file-excel" nzTheme="fill" (click)="downloadExcel()"></span>
                  <p *ngIf="dataAutogestionTable.length === 0"></p>
                </mark>
              </nz-list-header>
              <nz-table 
                [nzShowPagination]="false" class="table-header" [nzLoading]="loaderAutogestionTable"
                [nzData]="dataAutogestionTable" nzSize="small" nzBordered>
                <thead>
                  <tr>
                    <th *ngFor="let column of selectedColumns" nzWidth="140px">
                      {{column.label}}
                    </th>
                    <th nzWidth="120px">Venta (PVP)</th>
                    <th nzWidth="120px">Venta (UN)</th>
                    <th nzWidth="120px">Venta (Costo)</th>
                    <th nzWidth="120px">Venta (HL)</th>
                    <th nzWidth="120px">Stock</th>
                  </tr>
                </thead>
                <tbody style="height: auto;">
                  <tr *ngFor="let item of dataAutogestionTable">
                    <ng-container *ngFor="let column of selectedColumns">
                      <td style="text-align: left;">{{item[column.value]}}</td>
                    </ng-container>
                    <td style="text-align: right;">{{ item.ventapvp ? setFixed(item.ventapvp) : '0.00' }}</td>
                    <td style="text-align: right;">{{ item.ventaun ? setFixedToNumber(item.ventaun) : 0 }}</td>
                    <td style="text-align: right;">{{ item.costo ? setFixed(item.costo) : '0.00' }}</td>
                    <td style="text-align: right;">{{ item.hl ? setFixedHL(item.hl) : 0 }}</td>
                    <td style="text-align: right;">{{ item.stock ? setFixedToNumber(item.stock) : 0 }}</td>
                  </tr>
                  <th *ngIf="dataAutogestionTable.length > 0" [attr.colspan]="selectedColumns.length">
                    Total
                  </th>
                  <td style="text-align: right;">
                    {{ calculateColumnTotal("ventapvp") }}
                  </td>
                  <td style="text-align: right;">
                    {{ calculateColumnTotalToNumber("ventaun") }}
                  </td>
                  <td style="text-align: right;">
                    {{ calculateColumnTotal("costo") }}
                  </td>
                  <td style="text-align: right;">
                    {{ calculateColumnTotalHL("hl") }}
                  </td>
                  <td style="text-align: right;">
                    {{ calculateColumnTotalToNumber("stock") }}
                  </td>
                </tbody>
              </nz-table>
              <div class="table-pagination">
                <nz-pagination [nzPageIndex]="page" [nzTotal]="total" [nzPageSize]="limit"
                  (nzPageIndexChange)="pageIndexChange($event)">
                </nz-pagination>
                <span style="margin-left: 8px; text-align: center;">Total: {{ setFixedToNumber(total) }} registros</span>
              </div>
            </nz-list>
          </div>
        </div>
      </div>
    </nz-layout>
  </nz-content>
</nz-layout>