.save {
    margin-right: 8px;
    cursor: pointer;
  }

  .close {
    cursor: pointer;
  }

  .ant-table-wrapper{
    height: 93vh;
  }
  .content-title {
    background-color: rgb(233, 229, 15);
    // margin-bottom: 8px;
    h3 {
        padding: 2.8px 0 2.8px 0;
        font-weight: bold;
        margin: 0;
        text-align: center;
    }
  }
  ::ng-deep .ant-table-thead > tr > th {
    background-color: lightslategrey;
    color: #fff;
  }
  ::ng-deep .ant-btn {
    border-color: #000;
    &:hover {
        border-color: #000;
        color: #000;
        background-color: #f5f5f5;
    }
  }
  ::ng-deep .ant-table .ant-table-thead > tr > th {
    border-right: 1px solid #f0f0f0;
    text-align: center;
  }