.container {
  background-size: cover; /* Esto hace que la imagen de fondo ocupe todo el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen en el contenedor */
  height: calc(100vh - 59.107px);
  margin: 0; /* Elimina el margen predeterminado del body */
  overflow-y: auto;
  .container-information {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
    flex-wrap: wrap;
    gap: 8px;
    .information-content-left {
      .information {
        display: flex;
        border-left: 4px solid yellow;
        padding-left: 10px;
        margin-bottom: 5px;
        flex: 1;
        .item-information {
          display: flex;
          flex-direction: column;
        }
        .section-a {
          display: flex;
        }
        @media (max-width:502px) {
          flex-wrap: wrap;
          justify-content: center;
          gap:4px;
        }
      }
    }
    .information-content-right {
      max-width: 450px;
    }
    @media (max-width:941px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(31, 0, 0, 0.5);
  font-size: 1.2rem;
  text-align: center;
}

.information, .information-right {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.information-right {
  color: white;
  padding-right: 10px;
  flex: 1;
  height: auto;
  bottom: 0;
}

.c-white {
  color: white;
}

.c-yellow {
  color: yellow;
}

.contend-loading {
  display: flex;
  justify-content: center;
  width: 451px;
  padding-top: 30px;
}