<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Imagen de portada -->
            <div class="position-relative">
                <img src="assets/backus-portada-pernod.jpg" class="img-fluid" alt="Imagen de portada">                
                <div class="header-content">
                    <h1 class="c-white-tittle">Levantamiento POS - Pernod</h1>
                </div>
                <div class="information-content">
                    <div class="information">
                        <div style="display: flex; flex-direction: column; margin-right: 20%;">
                            <div class="info-block">
                                <span class="c-white1">3/04/24</span>
                                <span class="c-white">Frentes</span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; margin-right: 20%;">
                            <div class="info-block">
                                <span class="c-white1">3/04/24</span>
                                <span class="c-white">Exhibiciones</span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; margin-right: 20%;">
                            <div class="info-block">
                                <span class="c-white1">4/04/24</span>
                                <span class="c-white">Incidencias</span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; margin-right: 20%;">
                            <div class="info-block">
                                <span class="c-white1">3/04/24</span>
                                <span class="c-white">OSA</span>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; margin-right: 20%;">
                            <div class="info-block">
                                <span class="c-white1">3/04/24</span>
                                <span class="c-white">Precios</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>